<!DOCTYPE html>
<html lang="en">
<head>
    <title>401</title>
    <meta charset="utf-8">
</head>
<body style="background-color: #000000">
    <div align="center" style="padding: 5%">
        <p align="center"><font color="#ffffff" face="Bahnschrift" style="font-size: 1400%">401</font>
        <br><font color="#ffffff" face="Bahnschrift" style="font-size: 700%">Не авторизован</font>
        <br><font color="#ffffff" face="Bahnschrift" style="font-size: 300%">
            Вы не вошли в аккаунт. Эта страница недоступна неавторизованным пользователям.</font>
        </p>
    </div>
</body>
</html>