<!DOCTYPE html>
<html lang="en">
<head>
    <title>500</title>
    <meta charset="utf-8">
</head>
<body style="background-color: #000000">
    <div align="center" style="padding: 5%">
        <p align="center"><font color="#ffffff" face="Bahnschrift" style="font-size: 1400%">500</font>
        <br><font color="#ffffff" face="Bahnschrift" style="font-size: 700%">Ошибка внутреннего сервера</font>
        <br><font color="#ffffff" face="Bahnschrift" style="font-size: 300%">
            На сервере произошла ошибка и он не может выполнить задачу. Возможно сервер перегружен.</font>
        </p>
    </div>
</body>
</html>