{% extends "base.html" %}

{% block content%}
<h2 style="margin-left: 10%; margin-top: 2%">???-?? ????????</h2>
<div style="width: 30%; margin-left: 10%; margin-top: 2%; float: left; margin-right: 2%">
    <img src="/static/img/items/something.png" style="width: 100%; border: 2px solid LightGrey">
</div>
<div style="float: left; margin-top: 2%;">
    <h3>Особенности данного товара:</h3>
    <ul>
        <li>?? ?? ????? ??? ???</li>
        <li>???????? ?? ???????? ???????</li>
        <li>?? ????????? ?????? ???</li>
    </ul>
    <h3>Цена:</h3>
    <div style="display: flex; align-items: center">
        <h2 style="margin-right: 5px; text-decoration: line-through; color: grey" align="center">
            ??????????
        </h2>
        <h2 style="margin-left: 15px">?</h2>
    </div>
    <div style="display: flex; align-items: center">
        <h2 style="margin-right: 5px" align="center">????????</h2>
        <h2 style="margin-left: 15px">?</h2>
    </div>
</div>

{% endblock %}